
#navigation{
   font-family:courier new;
   font-size:small;
   padding-top:0;
   padding-left:20px;
   text-decoration:none;
}
#me{
    font-family:orange juice;
	color:black;
	font-size:26pt;
}
.mainImage{
    padding-top:10px
}
.orange{
    color:black;
	font-family:calibri;
	font-size:12pt;
}


