<html lang="en"> 
    <head>
	    <title>@LCMr_music Home</title>
		<link rel="icon" href="{{ url_for('static',filename ='favicon.ico') }}" />
		
		<link rel='stylesheet' href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}"/>
        <link rel='stylesheet' href="{{ url_for('static', filename = 'css/myStyle.css')}}"/>		
		<link rel='stylesheet' href="{{ url_for('static', filename = 'css/styles.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename ='css/font-awesome/css/font-awesome.min.css')}}"/>
		
        		
	</head>
    <body>
        <div class ="container" style="padding-top:40px">
             <span style="font-size:34pt; font-family:consolas">Eish! :(</span>
             <p>Not Found! &quot; 404 &quot;</p>
             <a href="#" onClick="history.go(-1)">go back please!<a>
        </div>
 	</body>
</html>
